#popup {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    width: 20vw;
    height: 40vh;
    background-color: white;
    border-radius: 20px;
    z-index: 1000000000;
    #img {
        width: 100%;
        border-radius: 20px 20px 0 0;
        height: 15vh;
        object-fit: cover;
    }
    #inner {
        padding: 10px;
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        #title {
            font-family: "Permanent Marker";
        }
        #link {
            display: block;
            padding: 10px 15px;
            color: black;
            border: 1px solid black;
            text-decoration: none;
            width: fit-content;
            
            transition: all 400ms;
            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}


@media screen and (max-width:768px) {
    #popup{
        width: 90%;
        bottom: 5%;
        top: unset;
        transform: unset;
        left: 0;
        margin: auto;
        left: 5%;
        height: 25vh;
        #img{
            height: 15vh;
        }
        #inner{
            height: 10vh;
            flex-direction: row;
            align-items: center;
        }
        
    }    
}