#hero {
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: bottom;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: -1px;
        background: linear-gradient(180deg, #1a1717 0%, rgba(0, 0, 0, 0.08) 55.73%);
        transform: rotate(180deg);
        z-index: 1;
    }
    .container {
        height: 100%;
        .row {
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }
    #title {
        color: #f9f8f8;
        font-family: "Permanent Marker", cursive;
        font-size: 100px;
        line-height: 121.4%;
        color: #c69761;
        transform: rotate(-6.36deg);
    }
    .container {
        height: 100%;
        .row {
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }
}
#texte {
    background-color: #1a1717;
    display: flex;
    z-index: 100;
    position: relative;
    font-family: Montserrat;
    padding: 2rem;
    #paragraph {
        color: #f9f8f8;
        font-size: 15px;
        line-height: 121.4%;
        text-align: justify;
    }
    
}
#galery{
    background-color: #1a1717;
}

@media screen and (max-width:768px) {
    #hero{
        #title{
            font-size: 50px;
        }
    }
    
}